# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
*.sqlite3
staticfiles/
media/

# Environment / secrets
.env

# Tooling
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editors
.idea/
.vscode/
*.swp
.DS_Store
